In [1]:
import pandas as pd
import numpy as np

In [4]:
traffic = pd.read_csv('traffic_density_202001.csv', parse_dates=['DATE_TIME']).sort_values(by='DATE_TIME')

In [5]:
traffic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1328624 entries, 199058 to 51581
Data columns (total 8 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   DATE_TIME           1328624 non-null  datetime64[ns]
 1   LONGITUDE           1328624 non-null  float64
 2   LATITUDE            1328624 non-null  float64
 3   GEOHASH             1328624 non-null  object
 4   MINIMUM_SPEED       1328624 non-null  int64
 5   MAXIMUM_SPEED       1328624 non-null  int64
 6   AVERAGE_SPEED       1328624 non-null  int64
 7   NUMBER_OF_VEHICLES  1328624 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 91.2+ MB

In [6]:
traffic.head()

,DATE_TIME,LONGITUDE,LATITUDE,GEOHASH,MINIMUM_SPEED,MAXIMUM_SPEED,AVERAGE_SPEED,NUMBER_OF_VEHICLES
199058,2020-01-01,28.778687,40.981750,sxk3nu,9,59,33,14
630231,2020-01-01,28.701782,41.064148,sxk3t5,16,81,42,24
965671,2020-01-01,28.383179,41.053162,sxk1tc,10,125,71,15
541717,2020-01-01,28.965454,41.009216,sxk971,6,62,29,17
45901,2020-01-01,28.866577,40.981750,sxk90u,8,63,33,21

In [7]:
traffic.tail(10)

,DATE_TIME,LONGITUDE,LATITUDE,GEOHASH,MINIMUM_SPEED,MAXIMUM_SPEED,AVERAGE_SPEED,NUMBER_OF_VEHICLES
1274118,2020-01-31 23:00:00,28.493042,41.130066,sxk3br,60,108,82,43
550651,2020-01-31 23:00:00,29.075317,41.025696,sxk9ms,6,102,33,71
605119,2020-01-31 23:00:00,29.141235,40.904846,sxk8xn,25,94,63,33
562808,2020-01-31 23:00:00,28.526001,41.009216,sxk331,16,113,74,61
1010525,2020-01-31 23:00:00,28.734741,41.184998,sxk6mc,7,82,32,66
855825,2020-01-31 23:00:00,29.086304,41.014709,sxk9mf,6,37,20,21
1321603,2020-01-31 23:00:00,28.921509,41.069641,sxk9dh,7,101,48,55
528831,2020-01-31 23:00:00,28.921509,41.080627,sxk9dn,6,59,23,93
897796,2020-01-31 23:00:00,28.778687,41.212463,sxk6qy,8,90,46,18
51581,2020-01-31 23:00:00,28.800659,41.042175,sxk3rr,6,81,39,52

In [8]:
traffic.columns = [c.lower() for c in traffic.columns]

In [9]:
traffic[traffic['geohash']=='sxk3br']

,date_time,longitude,latitude,geohash,minimum_speed,maximum_speed,average_speed,number_of_vehicles
613635,2020-01-01 07:00:00,28.493042,41.130066,sxk3br,72,106,85,20
913100,2020-01-01 09:00:00,28.493042,41.130066,sxk3br,63,102,79,13
1154957,2020-01-01 10:00:00,28.493042,41.130066,sxk3br,62,132,87,18
234777,2020-01-01 11:00:00,28.493042,41.130066,sxk3br,59,132,91,12
314945,2020-01-01 12:00:00,28.493042,41.130066,sxk3br,68,130,88,20
...,...,...,...,...,...,...,...,...
377310,2020-01-31 19:00:00,28.493042,41.130066,sxk3br,20,159,90,50
44272,2020-01-31 20:00:00,28.493042,41.130066,sxk3br,68,153,93,62
477125,2020-01-31 21:00:00,28.493042,41.130066,sxk3br,47,135,85,48
863948,2020-01-31 22:00:00,28.493042,41.130066,sxk3br,64,141,84,39
1274118,2020-01-31 23:00:00,28.493042,41.130066,sxk3br,60,108,82,43

In [10]:
traffic['hour'] = traffic['date_time'].dt.hour

In [17]:
traffic.groupby('hour')['number_of_vehicles'].mean().round()

hour
0      67.0
1      49.0
2      39.0
3      35.0
4      39.0
5      64.0
6     122.0
7     126.0
8     109.0
9     111.0
10    109.0
11    107.0
12    111.0
13    108.0
14    106.0
15    108.0
16    107.0
17    111.0
18    110.0
19    110.0
20    104.0
21     96.0
22     85.0
23     81.0
Name: number_of_vehicles, dtype: float64

In [15]:
traffic['day'] = traffic['date_time'].dt.hour

In [18]:
traffic.groupby('day')['number_of_vehicles'].mean().round()

day
0      67.0
1      49.0
2      39.0
3      35.0
4      39.0
5      64.0
6     122.0
7     126.0
8     109.0
9     111.0
10    109.0
11    107.0
12    111.0
13    108.0
14    106.0
15    108.0
16    107.0
17    111.0
18    110.0
19    110.0
20    104.0
21     96.0
22     85.0
23     81.0
Name: number_of_vehicles, dtype: float64

In [19]:
traffic.describe(include=object).T

           count unique     top freq
geohash  1328624   2248  sxk3x8  741